@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Playwrite+VN:wght@100..400&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Passions+Conflict&family=Sacramento&family=Tangerine:wght@400;700&display=swap');

.light{
    --primary:205, 111, 255;
    --secondary:227, 177, 244;
    --tertiary:238, 223, 243;
    --text:49, 0, 129;
    --shadow:54, 0, 107;
}
.dark{
    --primary: 82, 44, 103;
    --secondary: 53, 36, 59;
    --tertiary: 0, 0, 0;
    --text:255, 255, 255;
    --shadow:54, 0, 107;
}